* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 50px;
}

nav > a {
  flex: 1 1 25%;
  color: #5e672e;
  text-decoration: none;
}

nav > a:hover {
  color: #c3d45e;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
}

.container {
  width: 800px;
  margin: 1em auto;
  background: #fffff8;
  padding: 1em;
  border-top: 5px solid #c3d45e;
}

.media-container,
.media-container > img {
  padding: 20px 0px;
  width: 100%;
}

@media (max-width: 800px) {
  .container {
    width: 80%;
  }
}
