* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
}

.container {
  width: 800px;
  margin: 1em auto;
  background: #fffff8;
  padding: 1em;
  border-top: 5px solid #c3d45e;
}

video {
  width: 100%;
  padding: 20px 0px;
}


@media (max-width: 800px) {
  .container {
    width: 80%;
  } 
}
