* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
}

.container {
  width: 800px;
  margin: 1em auto;
  background: #fffff8;
  padding: 1em;
  border-top: 5px solid #c3d45e;
}

.video-container {
  width: 100%;
}

.video-container *,
.video-captions span {
  width: 33%;
  padding: 20px 20px 0px 20px;
  text-align: center;
  display: inline-block;
}

@media (max-width: 800px) {
  .container {
    width: 80%;
  }
}
